{% extends 'master.html' %}
{% include 'header.html' %}
{% block title %} Add Student {% endblock %}
{% block body %}
<div class="container">
    <form method="post" action="">
        <!-- <table class="table table-hover">
            <tr>
                <td>First Name</td>
                <td><input type="text" name="f_name" class="form-control"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="l_name" class="form-control"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="emil" name="email" class="form-control"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" class="form-control"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td class="d-flex">
                  Male: <input class="form-check-input" type="radio" name="gender" value="male" style="margin-left:5px;margin-right:10px">
                  Female <input class="form-check-input" type="radio" name="gender" value="female" style="margin-left:5px;margin-right:10px">
                </td>
            </tr>
            <tr>
              <td>Hobbies</td>
                <td class="d-flex">
                  Singing: <input class="form-check-input" type="checkbox" name="hobbies" value="Singing" style="margin-left:5px;margin-right:10px">
                  Reding: <input class="form-check-input" type="checkbox" name="hobbies" value="Reding" style="margin-left:5px;margin-right:10px">
                  Travelling: <input class="form-check-input" type="checkbox" name="hobbies" value="Travelling" style="margin-left:5px;margin-right:10px">
                </td>
            </tr>
            <tr>
              <td>Country</td>
              <td>
                <select class="form-control" name="country">
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Australia">Australia</option>
              </select>
            </td>
            </tr>
            <tr>
              <td>
                <input type="submit" class="btn btn-warning" name="submit" value="Submit">
              </td>
            </tr>
        </table> -->

        <div class="row">
          <div class="col-md-6">
            <label>First Name</label><br>
            <input type="text" name="f_name" class="form-control" required>
          </div>
          <div class="col-md-6">
              <label>Last Name</label><br>
              <input type="text" name="l_name" class="form-control" required>
          </div>
          <div class="col-md-6 mt-2">
            <label>Email</label><br>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="col-md-6 mt-2">
            <label>Date of Birth</label><br>
            <input type="text" name="dob" class="form-control" required>
          </div>
          <div class="col-md-6 mt-2">
            <label>Gender</label><br>
              <div class="d-flex">
                Male: <input class="form-check-input" type="radio" name="gender" value="male" style="margin-left:5px;margin-right:10px">
                Female <input class="form-check-input" type="radio" name="gender" value="female" style="margin-left:5px;margin-right:10px">
              </div>
          </div>
          <div class="col-md-6 mt-2">
            <label>Account Type</label><br>
              <div class="d-flex">
                Personal: <input class="form-check-input" type="checkbox" name="acc_type" value="Personal" style="margin-left:5px;margin-right:10px">
                Saving: <input class="form-check-input" type="checkbox" name="acc_type" value="Saving" style="margin-left:5px;margin-right:10px">
                Join: <input class="form-check-input" type="checkbox" name="acc_type" value="Join" style="margin-left:5px;margin-right:10px">
              </div>
          </div>
          <div class="col-md-6 mt-2">
            <label>Pan Number</label><br>
            <input type="text" name="pan" class="form-control" required>
        </div>
        <div class="col-md-6 mt-2">
          <label>Aadhaar Number</label><br>
          <input type="text" name="aadhaar" class="form-control" required>
      </div>
      <div class="col-md-6 mt-2">
        <label>Country</label><br>
          <select class="form-select" name="country">
          <option value="India">India</option>
          <option value="USA">USA</option>
          <option value="Australia">Australia</option>
        </select>
      </div>
      <div class="col-md-6 mt-2">
        <label>State</label><br>
          <select class="form-select" name="state">
          <option value="Maharashtra">Maharashtra</option>
          <option value="California">California</option>
          <option value="Sydney">Sydney</option>
        </select>
      </div>
      <div class="col-md-6 mt-2">
        <label>Preferred Branch</label><br>
          <select class="form-select" name="pre_branch">
          <option value="Narayan Peth">Narayan Peth</option>
          <option value="Kothrud">Kothrud</option>
          <option value="Warje">Warje</option>
        </select>
      </div>
      <div class="col-md-6 mt-2">
        <label>Address</label><br>
          <input type="text" name="addr" class="form-control" required>
      </div>
        
          <div class="col-md-12 mt-3 mb-4">
              <input type="submit" class="btn btn-success" name="submit" value="Submit">
          </div>
      </div>
    </form>
</div>
{% endblock %}